
<div class="span7">
	
	<%= render 'shared/draw1' %>

</div>

<div class="well well-large span4">
	<%= render 'shared/item_show' %>

	<% if logged_in? %>
	<%= link_to 'edit', edit_first_path, class: 'btn btn-primary' %>
	<%= link_to 'delete', first_path(params[:id]), :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-primary ' %>
	<% end %>
</div>