
<div class="well well-large">
	<div class="jumbotron">
		<h1>Draft your IA</h1>
		<p class="lead">draft_ia is a web application that lets information architects quickly prototype and share IA.</p>

		<%= link_to "Check out the sample project", ia_path, :class => 'a btn btn-large btn-success' %>
	</div>
</div>
	
		<!-- <p class='lead'>
			<h1>Why you should care</h1>
			It can be a challenge to communicate information architecture. IA is complex and frequently goes through several iterations before a project is completed. These are the challenges that draft IA attempts to solve: -->
			<ul class="thumbnails pull-center">
			  <li class="span3">
			    <div class="thumbnail">
			      <img data-src="holder.js/300x200" alt="">
			      <h3>IA visually</h3>
			      <p>Coworkers and clients understand IA better.</p>
			    </div>
			  </li>
			  <li class="span3">
			    <div class="thumbnail">
			      <img data-src="holder.js/300x200" alt="">
			      <h3>Easy to modify</h3>
			    </div>
			  </li>
			  <li class="span3">
			    <div class="thumbnail">
			      <img data-src="holder.js/300x200" alt="">
			      <h3>Version Control</h3>
			      <p>draft_ia uses git and github. Which gives you version control for free.</p>
			    </div>
			  </li>
			  <li class="span3">
			    <div class="thumbnail">
			      <img data-src="holder.js/300x200" alt="">
			      <h3>User Testing</h3>
			      <p>Use your prototypes to do some user testing of your IA before you even start coding your project.</p>
			    </div>
			  </li>
			</ul>


 