<ul id="utilityNav">
	
	<% @quicklinks.each do |link| %>
		<li><%= link_to link.title, quicklink_path(link.id) %></li>
	<% end %>
	<% if logged_in? %>
	<li><%= link_to '+', new_quicklink_path %></li>
	<% end %>
</ul>