<div class="span7">
	<%= render 'shared/draw2' %>
</div>

<div class="well well-large span4">
	<%= render 'shared/item_show' %>
	
	<% if logged_in? %>
	<%= link_to 'edit', edit_first_second_third_path(:params => params), class: 'btn btn-primary' %>
	<%= link_to 'delete', first_second_third_path(:params => params), :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-primary ' %>
	<% end %>
</div>